

<!DOCTYPE html>
<html>
<head>
  <title>Threadly</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
  <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>


</style>
</head>
<body>
<div class="Container">
<h1 style="text-align: center">Thoughts Wall</h1>

<div class="container">

<div class="row" style="text-align: center">

    <%= form_for(@new_post) do |f| %>
     
        <div class="column col-xs-8 col-md-10" style="margin-left:8%">
            <%= f.text_field :caption, :placeholder => "share your thoughts" %>
      <BR>
            <%= f.submit :post, :class => "btn" %>
        </div>
    <% end %>

</div>

<ul class="captions" id="captions">
    <% @posts.each do |p| %>
        <div class="caption" style="background-color: white; text-align: center; margin: 1rem; padding:1rem; margin-left: 33%;width: 30%">
        <p><%= p.caption %></p>
        <p><%= p.created_at %></p>
        </div>
    <% end %>
</ul>

</div>
</div>
</body>
</html>