<style>
body {
    background-image: url('<%=@post.image%>'), 
    
}
.Container{
    color:white;
}
</style>


<div class="Container2">

    <div class="column2">
            <p>"<%=@post.thought%>"</p>
            <p><%=@post.name%></p>
            <p style="margin-top: 1rem;"><%= @post.created_at.strftime("%a " + "| %Y-%m-%d " + "| at %I:%M%p") %></p>
            <%= link_to '<button type="button">Home</button>'.html_safe, root_path %>
            <%= link_to '<button type="button">Delete</button>'.html_safe, @post, :confirm => "Are You Sure?", :method => :delete %>
            <p class="flash-notice"><%= flash[:success] %></p>
            <p class="flash-notice"><%= flash[:error] %></p>
            <p class="flash-notice"><%= flash[:noname] %></p>

    </div>
    <div class="column2">
            <img style="height:100%" src="<%= @post.image%>">
    </div>

    

       
</div>      


<div class="Container2" style="height:100%">
| <%= @post.comments.size  %> comments |

<% if @comments.count == 0 then %>
<h4 style="text-align:center">there are no comments yet!</h4>
<%else%>  
    <% @post.comments.each do |comment| %>
    <div class="thoughts">
        <% if comment.id != nil %>
            <span>"<%= comment.content %>"</span><BR>
            <span>- <%= comment.name %> </span><BR>
           <span><%= time_ago_in_words(comment.created_at) %></span><BR>
           <%= link_to '<button type="button">Delete</button>'.html_safe, post_comment_path(@post,comment), method: :delete, data: { confirm: 'Are you sure?' } %>

        <%else%>
        
       
        <%end%>
 
   </div>
    <% end %>
<% end%>
<div class="thoughts">   
<h3>Comment</h3>
<%= form_for([@post,@post.comments.build]) do |i| %>
   <%= i.label :name %>
    <p> <%= i.text_field :name%></p>
     <%= i.label :content%>
    <p> <%= i.text_area :content%></p>
    <p> <%= i.submit "Create"%></p>
<% end %>
</div>




<div>